{
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "airbnb-base", 
    "plugin:prettier/recommended", 
    "plugin:jest/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "json",
    "markdown"
  ],
  "rules": {
    "class-methods-use-this": 0,
    "import/no-named-as-default": 0,
    "import/extensions": [
      "error",
      "always",
      {
        "js": "never",
        "mjs": "never"
      }
    ],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "settings": {
    "import/resolver": {
      "node": { "extensions": [".js", ".mjs"] }
    }
  }
}